@media all and (max-width: 768px) {
	
	header {
		display: block;
	}
	
	h1 {
		justify-content: center;
		margin: 0;
		padding: 20px;
		width: 100%;
		font-size: 12px;
	}

	.header_nav {
		width: 100%;
	}

	.header_nav a {
		justify-content: center;
		border-top: none;
		width: 50%;
		padding-bottom: 10px;
		border-bottom: 3px solid #F2F2F2;
	}

	.header_nav a:hover {
		color: #DEEBFF;
		color: #0065FC;
		padding-bottom: 10px;
		border-top: none;
		border-bottom: 3px solid #0065FC;
	}

	.formulaire {
		padding: 3%;
	}

	.search_bar {
		justify-content: flex-start;
	}

	input [type="search"] {
		width: 150px;
	}

	.search_button {
		width: 55px;
		border-radius: 15px;
	}

	.search_button span {
		display: none;
	}

	.search_button i {
		display: block;
		color: #FFFFFF;
	}

	.filters {
		flex-direction: column;
		align-items: flex-start;
	}

	.inputs {
		justify-content: flex-start;
		align-items: flex-start;
	}

	.filter_selection {
		margin-right: 15px;
	}

	#row1, #row2 {
		flex-direction: column;
	}

	.cards {
		width: 320px;
	}

	#activities {
		padding: 15px;
	}

	#activity_columns {
		flex-direction: column;
		align-items: center;
	}

	.large_activity_card img {
		height: 120px;
		width: 275px;
	}

	.large_activity_card {
		justify-content: space-between;
		margin-top: 2%;
		margin-bottom: 18%;
		box-shadow: 2px 2px 2px #D3D3D3;
		width: 275px;
		height: 170px;
		border-radius: 20px;
		color: #000000;
		transition: all .2s ease-in-out;
	}
}